body{
    margin: 0;
    padding: 0;
}

h3{
    align-items: center;
    align-content: center;
}
.cal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.operators{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: gray;
}

.input{
    border: none;
    background-color: darkslateblue;
    border-radius: 12px;
    width: 530px;
    height: 150px;
    color: white;
    font-size: 25px;
    text-align: right;
}

.btn{
    background-color: white;
    color: black;
    border-radius: 0.2rem;
    padding: 1rem;
    margin: 5px 5px;
    font-size: medium;

}

.operators{
    background-color: darkslateblue;
    width: 530px;
    height: 350px;
    margin-top: 30px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .input {
        width: 330px;
        height: 100px;
        font-size: 15px;
    }

    .operators{
        width: 330px;
    }
}